{% extends "base.html.twig" %}
{%  block body %}
    {{ q["grille"] | raw }}
    <div id="add"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ script_foot | raw }}
{% endblock %}
